@media (min-width: 140em) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 84em) {
  body {
    width: 65%;
  }
}

@media (max-width: 75em) {
  body {
    width: 70%;
  }
}
@media (max-width: 59em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  body {
    width: 75%;
  }
}
@media (max-width: 44em) {
  body {
    width: 80%;
  }
  table {
    font-size: medium;
  }
}
@media (max-width: 34em) {
  body {
    width: 85%;
  }
}
