*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --lightBackgorund: #fffffe;
  --lightHeadline: #00214d;
  --lightParagraph: #1b2d45;

  --darkBackground: #001534;
  --darkHeadline: #fffffe;
  --darkParagraph: #b7c9e4;

  --greenColor: #00ebc7;
  --redColor: #ff5470;
  --yellowColor: #fde24f;

  /* FONTS */
  --headingFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --bodyFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --smallText: 1.6rem;

  /* OTHER */
  --borderRadius: 0.5rem;
  --letterSpacing: 0.5px;
  --transition: 0.3s ease-in-out all;
  --maxWidth: 1120px;
  --fixedWidth: 600px;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;

  /* font-size: 125%; */
} /*20px*/

body {
  width: 60%;
  margin: 0 auto;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.7;
}

header {
  margin-top: 3rem;
  margin-bottom: 8rem;
  padding: 5rem 0 2rem 0;
  background-color: var(--darkBackground);
  border-radius: var(--borderRadius);
}
.header-container h1 {
  color: var(--darkHeadline);
}
.header-container p {
  color: var(--darkParagraph);
}
.navigation {
  margin-bottom: 8rem;
}
.nav-section {
  text-align: center;
}
.nav-list {
  list-style: none;

  /* display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  justify-items: center;
  padding: 0;
  margin-bottom: 2rem;
}

.nav-list li {
  width: 80%;
  background-color: var(--darkParagraph);
  padding: 0.7rem;
  border-radius: var(--borderRadius);
}

.nav-list a:link,
.nav-link a:visited {
  font-family: var(--bodyFont);
  text-decoration: none;
  color: var(--lightHeadline);
  transition: all 300ms;
}
.nav-list a:hover,
.nav-link a:active {
  color: var(--darkHeadline);
  border-bottom: 1px solid var(--darkHeadline);
  padding-bottom: 2px;
}

a:-webkit-any-link {
  color: var(--lightHeadline);
}

p {
  font-family: var(--bodyFont);
  line-height: 1.7;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--lightParagraph);
}

.subtitle {
  font-family: var(--bodyFont);
  margin-bottom: 5rem;
  font-size: 2.4rem;
  line-height: 1.6;
}
.header-container {
  width: 100%;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 3rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--lightHeadline);
}

h1 {
  margin-top: 0;
  font-size: 6.1rem;
  font-weight: 700;
}

h2 {
  font-size: 4.8rem;
  font-weight: 600;
}

h3 {
  font-size: 3.9rem;
  font-weight: 500;
}

h4 {
  font-size: 3.1rem;
}

h5 {
  font-size: 2.5rem;
}

small,
.text-small {
  font-family: var(--bodyFont);
  font-size: var(--smallText);
}

small {
  color: var(--lightParagraph);
}

ul,
ol {
  padding: 0 5rem;
  color: var(--lightParagraph);
}

li {
  font-size: 2rem;
  font-family: var(--bodyFont);
  line-height: 1.7;
}

/* BUTTON */
.btn:link,
.btn:visited {
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 2.4rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: var(--borderRadius);
}

.btn:hover,
.btn:active {
}

.btn-light {
  background-color: var(--greenColor);
  color: var(--lightHeadline);
}

.btn-dark {
  background-color: var(--yellowColor);
  color: var(--lightHeadline);
}

hr {
  margin: 6rem 0;
}
.img {
  width: 100%;
  display: inline-block;

  border-radius: var(--borderRadius);
}
.img-light {
  border: 3px solid var(--darkBackground);
}
.img-dark {
  border: 3px solid var(--lightBackgorund);
}

table {
  width: 100%;
  font-size: 2rem;
  /* border: 3px solid var(--darkBackground); */
  color: var(--lightHeadline);
  border-collapse: collapse;
  border-radius: var(--borderRadius);
}

th,
td {
  text-align: left;
  padding: 1rem 1rem 1rem 2.5rem;
}
th {
  background-color: var(--darkBackground);
  color: var(--darkHeadline);
}
tr:nth-child(even) {
  background-color: var(--darkParagraph);
}

blockquote {
  padding-left: 3rem;
  border-left: 5px solid var(--greenColor);
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.quote {
  margin-top: 0;
  font-size: 2.4rem;
  display: inline-block;
}
.quote::before {
  content: "”";
  color: var(--greenColor);
  font-size: 2.4rem;
}
.quote::after {
  content: "”";
  color: var(--greenColor);
  font-size: 2.4rem;
}
cite {
  font-size: 1.6rem;
}

/* FORM STYLING */

#form {
  max-width: 100%;
  margin-right: auto;
  background-color: var(--darkBackground);
  padding: 5rem;
  color: var(--darkHeadline);
  border-radius: var(--borderRadius);
}
form {
  font-size: 2rem;
  font-family: inherit;
}
.form-group {
  margin-bottom: 2rem;
}
label {
  display: block;
  color: var(--darkParagraph);
}
input,
textarea,
select {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--darkHeadline);
  border-radius: var(--borderRadius);
  line-height: 1;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 3px dotted var(--greenColor);
}
input[type="submit"] {
  margin-top: 3rem;
  background-color: var(--greenColor);
  border: none;
  padding: 2rem;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #00d4b3;
  color: var(--darkHeadline);
}
input[type="reset"] {
  margin-top: 1rem;
  background-color: var(--darkBackground);
  color: var(--darkHeadline);
  border: none;
  text-decoration: underline;
  padding: 1rem;
  cursor: pointer;
}
