body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --lightBackgorund: #fffffe;
  --lightHeadline: #00214d;
  --lightParagraph: #1b2d45;

  --darkBackground: #001534;
  --darkHeadline: #fffffe;
  --darkParagraph: #b7c9e4;

  --greenColor: #00ebc7;
  --redColor: #ff5470;
  --yellowColor: #fde24f;

  /* FONTS */
  --headingFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --bodyFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --smallText: 0.7em;

  /* OTHER */
  --borderRadius: 0.25rem;
  --letterSpacing: 0.5px;
  --transition: 0.3s ease-in-out all;
  --maxWidth: 1120px;
  --fixedWidth: 600px;
}

html {
  font-size: 125%;
} /*20px*/

section {
  padding: 2rem 5rem;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.7;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

.subtitle {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* LIGHT SECTION */
.light {
  background: var(--lightBackgorund);
}
.light p {
  color: var(--lightParagraph);
}
.light h1,
.light h2,
.light h3,
.light h4,
.light h5 {
  color: var(--lightHeadline);
}

/* DARK SECTION */
.dark {
  background: var(--darkBackground);
}
.dark p {
  color: var(--darkParagraph);
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5 {
  color: var(--darkHeadline);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.1;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-weight: 700;
}

h2 {
  font-size: 2.441rem;
  font-weight: 600;
}

h3 {
  font-size: 1.953rem;
  font-weight: 500;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  list-style: none;
  padding: 0;
}

/* BUTTON */
.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: var(--borderRadius);
}

.btn:hover,
.btn:active {
}

.btn-light {
  background-color: var(--greenColor);
  color: var(--lightHeadline);
}

.btn-dark {
  background-color: var(--yellowColor);
  color: var(--lightHeadline);
}

hr {
  margin: 3rem 0;
}
