<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="main.css" />
    <title>Pricing component</title>
  </head>
  <body>
    <div class="container">
      <div class="column">
        <div class="header">
          <span class="plan">BASIC</span>
          <span class="price">$2.89</span>
          <span class="month">/ per month</span>
        </div>
        <div class="benefits">
          <ul class="list">
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>1 Website</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>1 Email Account</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>2 Databases</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Free SSL</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Monthly Backups</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>24/7 Support</p>
            </li>
            <li>
              <ion-icon name="close-outline"></ion-icon>
              <p class="strike">Free Domain</p>
            </li>
            <li>
              <ion-icon name="close-outline"></ion-icon>
              <p class="strike">Cloudflare CDN</p>
            </li>
          </ul>
        </div>

        <a class="btn" href="#">Select Plan</a>
      </div>
      <div class="column popular">
        <div class="most">Most Popular</div>
        <div class="header">
          <span class="plan">PREMIUM</span>
          <span class="price">$3.79</span>
          <span class="month">/ per month</span>
        </div>
        <div class="benefits">
          <ul class="list">
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>10 Websites</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>100 Email Accounts</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Unlimited Databases</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Free SSL</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Weekly Backups</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>24/7 Support</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Free Domain</p>
            </li>
            <li>
              <ion-icon name="close-outline"></ion-icon>
              <p class="strike">Cloudflare CDN</p>
            </li>
          </ul>
        </div>

        <a class="btn" href="#">Select Plan</a>
      </div>
      <div class="column">
        <div class="header">
          <span class="plan">BUSINESS</span>
          <span class="price">$4.69</span>
          <span class="month">/ per month</span>
        </div>
        <div class="benefits">
          <ul class="list">
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>100 Websites</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Unlimited Email Accounts</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Unlimited Databases</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Free SSL</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Daily Backups</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>24/7 Support</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Free Domain</p>
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>Cloudflare CDN</p>
            </li>
          </ul>
        </div>

        <a class="btn" href="#">Select Plan</a>
      </div>
    </div>

    <!-- ICONS SCRIPT -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
